[submodule "date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
[submodule "cpr"]
	path = lib/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "lib/aisaka"]
	path = lib/aisaka
	url = https://github.com/polgaria/aisaka.git
	branch = aegis-submodule
